{% extends 'templates/app.twig' %}
{% set active = 'about' %}

{% block content %}

    <h3> Infos </h3>
    <p>This is a simple Address App. Only following Dependency was used: Templating with Twig and Twitter Bootstrap

{% endblock %}
