{% extends 'templates/app.twig' %}
{% set active = 'about' %}

{% block content %}

    <h3>Infos</h3>
    <p>This is a simple Address App. Only following Dependency was used: Templating with Twig and Twitter Bootstrap.</p>

    <h4>Updating an Entry</h4>
    <p>To update an entry just click on the blue pencil glyphicon button on the right hand side of the texts.
    After editing the content click on update to safe the changes.</p>

    <h4>Deleting an Entry</h4>
    <p>If you want to delete an entry, just click on the red trash glyphicon button at the end of the line.
    Confirm the Deletion to remove the selected row irreversible from Database.</p>

    <h4>Find an Entry</h4>
    <p>Just enter a search term into the search field and click Go! to find your Entry</p>

    <h4>Sort Entries by Updated</h4>
    <p>If you want to sort all Entries by the date of the last update Ascending click the column header
    updated. If you want to sort it Descending just click one more time on updated. And so on.</p>

{% endblock %}
