{% extends 'templates/app.twig' %}

{% block content %}

<div id="header">
    <div>
    <fieldset id="error" title="error">
      <h2 style="color:red;">ERROR. 404 - Not found :-(</h2>
    </fieldset>
    </div>
</div>

{% endblock %}
