<h2>Comments</h2>

<table class="table table-striped">

    <thead>
    <tr>
        <th>Comments for this Product:</th>
    </tr>
    </thead>

    <tbody>

    {% for comment in response.comments %}
    <tr>
        {% if comment.PICTURE != '' %}
            <td><img src="../Images/Comments/{{ comment.CID }}_{{ comment.PICTURE }}" /></td>
        {% else %}
            <td></td>
        {% endif %}

        <td>{{ comment.AUTHOR }} said:</td>
        <td>{{ comment.COMMENT }}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>



