{% block error %}
    {# Error Handling #}
    {% if session.getValue('message') %}
        <div class="alert alert-success">
            <p class="bg-success">{{ session.getValue('message') }}</p>
        </div>
    {% endif %}
    {% if session.getValue('error') %}
        <div class="alert alert-danger">
            <p class="bg-danger">{{ session.getValue('error') }}</p>
        </div>
    {% endif %}
    {{ session.deleteValue('message') }}
    {{ session.deleteValue('error') }}
{% endblock %}
