<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="TheSuXXStore App">
        <meta name="author" content="Peter Sacco">

        <title>{% block title %}SuXX :: SUperstore - the eXclusive eXperience - Homepage{% endblock %}</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
        <!-- Latest compiled and minified JS -->
        <link rel="stylesheet" href="bootstrap/js/bootstrap.min.js">
        <!-- Latest compiled and minified JQuery -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

        <!-- Custom styles -->
        {% block stylesheets %}{% endblock %}

    {% endblock %}

</head>

<body>

<div id="content" class="container">
    {% block content %}
        {{ include('navbar.twig') }}
        {{ include('home.twig') }}
    {% endblock %}

    <div id="footer">
        {% block footer %}
            <hr />
            &copy; Copyright 2016 by <a
                href="http://TheSuXXStore/">you</a>.
        {% endblock %}
    </div>

</div>

</body>
</html>
