{% block content %}

    <div id="header" class="jumbotron">
        <h1>SuXX :: SUperstore</h1>
        <p>the eXclusive eXperience</p>
    </div>

    {{ include('error.twig') }}
    {{ include('products.twig') }}

{% endblock %}
